# OS
.DS_Store
Thumbs.db
desktop.ini

# Edytory / IDE
.vscode/
.idea/
*.swp

# Logi
*.log

# Zależności (gdyby doszły)
node_modules/
vendor/

# Lokalna konfiguracja z sekretem (hash hasła)
lib/config.php
